@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-color: rgb(0, 0, 0)
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.ui-animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

